.wrapper {
  font-size: clamp(16px, 5vw, 32px);
  word-wrap: none;
  overflow: visible;
  padding: 0%;
  margin: 0%;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1;
  color: rgba(243, 233, 221, 1);
  font-weight: 300;
  line-height: 120%;
  align-items: center;
  justify-items: center;
}

@media (max-width: 1024px) {
  .wrapper {
  }
}
